<ion-header>
  <ion-toolbar class="topHeader">
    <ion-buttons slot="start">
      <button>
        <img src="../../../assets/menu-button.png" />
      </button>
    </ion-buttons>
    <ion-title> Ana Sayfa </ion-title>
    <ion-buttons slot="primary">
      <button>
        <img src="../../../assets/bag.png" />
      </button>
      <button>
        <img src="../../../assets/adisyon.png" />
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <div class="searchBarContainer">
      <ion-searchbar show-clear-button="never" class="custom" value="Mekan ara"></ion-searchbar>
      <div class="searchFilterIcon">
        <img width="52" height="52" src="../../../assets/filter-button.png" />
      </div>
    </div>
  </ion-toolbar>
</ion-header>